<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration form's Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</head>
<body ng-app="registration_form" ng-controller="AppCtrl">
<div class="col-md-8 col-md-offset-2">
    <h1 style="color: cornflowerblue">Vehicle fleet</h1>
    <form action="?lang=en" method="GET">
        <button type="en" class="btn btn-default" style="margin-top:20px">
            EN
        </button>
    </form>
    <form action="?lang=ua" method="GET">
        <button type="ua" class="btn btn-default" style="margin-top:20px">
            UA
        </button>
    </form>
    <form action="/login" method="Post">
        <button type="sign_in" class="btn btn-default" style="margin-top:20px">
            Sign in
        </button>
    </form>
</div>
<div class="container" style="margin-top: 60px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="page-header">Registration Form Demo</h2>
            <form style="margin-bottom: 30px" name="form" autocomplete="off" novalidate
                  ng-submit="form.$valid && sendForm(auth)">
                <div class="form-group">
                    <label id="inputNameLabel" for="exampleInputName">First name</label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputName"
                           placeholder="First Name"
                           required
                           ng-model="auth.name">
                </div>
                <div class="form-group">
                    <label id="inputLastNameLabel" for="exampleInputLastName">Last name</label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputLastName"
                           placeholder="Last Name"
                           required
                           ng-model="auth.last.name">
                </div>
                <div class="form-group">
                    <label id="inputNativeNameLabel" for="exampleInputNativeName">First name in native language</label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputNativeName"
                           placeholder="First Name in native language"
                           required
                           ng-model="auth.name">
                </div>
                <div class="form-group">
                    <label id="inputNativeLastNameLabel" for="exampleInputNativeLastName">Last name in native
                        language</label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputNativeLastName"
                           placeholder="Last Name in native language"
                           required
                           ng-model="auth.native.last.name">
                </div>
                <div class="form-group">
                    <label id="inputLoginLabel" for="exampleInputLogin">Login</label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputLogin"
                           placeholder="Login"
                           required
                           ng-model="auth.login">
                </div>
                <div class="form-group">
                    <label id="inputEmailLabel" for="exampleInputEmail1">Email address</label>
                    <input type="email"
                           class="form-control"
                           id="exampleInputEmail1"
                           placeholder="Email"
                           required
                           ng-model="auth.email">
                </div>
                <div class="form-group">
                    <label id="inputPasswordLabel" for="exampleInputPassword1">Password</label>
                    <input type="password"
                           class="form-control"
                           id="exampleInputPassword1"
                           placeholder="Password"
                           required
                           ng-model="auth.password">
                </div>
                <div class="form-group">
                    <label id="inputConfirmPasswordLabel" for="exampleInputConfirmPassword1">Confirm Password</label>
                    <input type="password"
                           class="form-control"
                           id="exampleInputConfirmPassword1"
                           placeholder="Confirm password"
                           required
                           ng-model="auth.confirm.password">
                </div>
                <form action="/vehicle-fleet" method="Post">
                    <button type="register" class="btn btn-success" style="margin-top:30px" ng-disabled="form.$invalid">
                        Sign up
                    </button>
                </form>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/public/js/reg_form.js"></script>
</body>
</html>