<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="header::head"></head>
<body>
<div th:replace="header::user_head"></div>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <h3 th:if="${busList.isEmpty()}" th:text="#{message.empty.bus.list}"></h3>
            <div id="appointments">
                <table class="table" th:if="${!busList.isEmpty()}">
                    <tr>
                        <th th:text="#{message.bus.license.plate}"></th>
                        <th th:text="#{message.bus.mark}"></th>
                        <th th:text="#{message.bus.add}"></th>
                    </tr>
                    <tr th:each="bus : ${busList}">
                        <td th:text="${bus.licensePlate}"></td>
                        <td th:text="${bus.mark}"></td>
                        <td>
                            <form action="/admin/appoint/bus" method="post">
                                <input type="hidden" name="busId" th:value="${bus.id}">
                                <input type="submit" th:value="#{message.bus.add}"
                                       class="btn btn-default">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>