<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="header::head"></head>
<body>
<div th:replace="header::user_head"></div>

<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <h3 th:if="${driverList.isEmpty()}" th:text="#{message.empty.driver.list}"></h3>
            <div id="appointments">
                <table class="table" th:if="${!driverList.isEmpty()}">
                    <tr>
                        <th th:text="#{message.user.name}"></th>
                        <th th:text="#{message.user.surname}"></th>
                        <th th:text="#{message.driver.add}"></th>
                    </tr>
                    <tr th:each="driver : ${driverList}">
                        <td th:if="${#locale.language.equals('en')}" th:text="${driver.firstName}"></td>
                        <td th:if="${#locale.language.equals('en')}" th:text="${driver.lastName}"></td>
                        <td th:if="${#locale.language.equals('uk')}" th:text="${driver.originFirstName}"></td>
                        <td th:if="${#locale.language.equals('uk')}" th:text="${driver.originLastName}"></td>
                        <td>
                            <form action="/admin/appoint/driver" method="post">
                                <input type="hidden" name="driverId" th:value="${driver.id}">
                                <input type="submit" th:value="#{message.driver.add}"
                                       class="btn btn-default">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>