<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Vehicle fleet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container" style="margin-top: 60px">
    <div class="row">
        <div class="col-md-12 col-md-offset-2">
            <h1 th:text="#{message.app.name}" style="color: cornflowerblue"/>
            <div align="right">
                <div class="locale">
                    <a href="?lang=en">EN</a>|<a href="?lang=uk">UA</a>
                </div>
                <h4 sec:authentication="name"></h4>
                <form action="/login" method="POST">
                    <input type="submit" th:value="#{message.logout}" class="btn btn-default" style="margin-top:20px">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <h3 th:if="${driverList.isEmpty()}" th:text="#{message.empty.driver.list}"></h3>
            <div id="appointments">
                <table class="table" th:if="${!driverList.isEmpty()}">
                    <tr>
                        <th th:text="#{message.user.name}"></th>
                        <th th:text="#{message.user.surname}"></th>
                        <th th:text="#{message.driver.add}"></th>
                    </tr>
                    <tr th:each="driver : ${driverList}">
                        <td th:if="${#locale.language.equals('en')}" th:text="${driver.firstName}"></td>
                        <td th:if="${#locale.language.equals('en')}" th:text="${driver.lastName}"></td>
                        <td th:if="${#locale.language.equals('uk')}" th:text="${driver.originFirstName}"></td>
                        <td th:if="${#locale.language.equals('uk')}" th:text="${driver.originLastName}"></td>
                        <td>
                            <form action="/admin/appoint/driver" method="post">
                                <input type="hidden" name="driverId" th:value="${driver.id}">
                                <input type="submit" th:value="#{message.driver.add}"
                                       class="btn btn-default">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>