<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Vehicle fleet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>-->
</head>
<body ng-app="login_form" ng-controller="AppCtrl">
<div class="col-md-8 col-md-offset-2">
    <h1 style="color: cornflowerblue">Vehicle fleet</h1>
    <h3 style="color: cornflowerblue">Admin:${user.name}</h3>
    <div align="right" class="col-md-12 col-md-offset-2">
        <div class="locale">
            <a href="?lang=en">EN</a>|<a href="?lang=uk">UA</a>
        </div>
        <form action="/register" method="GET">
            <input type="submit" th:value="#{logout}" class="btn btn-default" style="margin-top:20px"
                   ng-disabled="form.$invalid">
        </form>
    </div>
</div>

<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h2 th:text="#{main.page.header}" class="page-header" style="color: forestgreen"></h2>

        </div>
    </div>
</div>
<!--<script type="text/javascript" src="/public/js/login.js"></script>-->
</body>
</html>