<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title th:text="#{registration.title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</head>
<body ng-app="registration_form" ng-controller="AppCtrl">
<div class="col-md-8 col-md-offset-2">
    <h1 th:text="#{app.name}" style="color: cornflowerblue"/>
    <div class="col-md-12 col-md-offset-10" align="right">
        <div class="locale">
            <a href="?lang=en">EN</a>|<a href="?lang=uk">UA</a>
        </div>
        <form action="/login" method="GET">
            <input type="submit" th:value="#{sign.in}"
                   class="btn btn-default"
                   style="margin-top:10px"
                   ng-disabled="form.$invalid">
        </form>

    </div>
</div>
<div class="container" style="margin-top: 60px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 th:text="#{register.page.header}" class="page-header"></h2>
            <form style="margin-bottom: 30px" name="form" autocomplete="off" novalidate
                  ng-submit="form.$valid && sendForm(auth)">
                <div id="resultMessage">
                    <div class="error" th:if="${param.error}" th:text="#{invalid.email.password}">
                    </div>
                    <div class="data" th:if="${param.data}" th:text="#{data.sign.up}">
                    </div>
                </div>
                <!--                <input type="hidden" name="_csrf" value="{{_csrf.token}}">-->
                <div class="form-group">
                    <label id="exampleInputNameLabel" for="exampleInputName">First name</label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputName"
                           placeholder="First name"
                           required
                           ng-model="auth.firstName">
                </div>
                <div class="form-group">
                    <label id="exampleInputLastNameLabel" for="exampleInputLastName">Last name</label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputLastName"
                           placeholder="Last name"
                           required
                           ng-model="auth.lastName">
                </div>
                <div class="form-group">
                    <label th:text="#{first.name}" id="exampleInputOriginNameLabel"
                           for="exampleInputOriginName"></label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputOriginName"
                           th:placeholder="#{first.name}"
                           required
                           ng-model="auth.originFirstName">
                </div>
                <div class="form-group">
                    <label th:text="#{last.name}" id="exampleInputOriginLastNameLabel"
                           for="exampleInputOriginLastName"></label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputOriginLastName"
                           th:placeholder="#{last.name}"
                           required
                           ng-model="auth.originLastName">
                </div>
                <div class="form-group">
                    <label th:text="#{login}" id="exampleInputLoginLabel"
                           for="exampleInputLogin"></label>
                    <input type="text"
                           class="form-control"
                           id="exampleInputLogin"
                           th:placeholder="#{login}"
                           required
                           ng-model="auth.login">
                </div>
                <div class="form-group">
                    <label th:text="#{email}" id="exampleInputEmailLabel"
                           for="exampleInputEmail1"></label>
                    <input type="email"
                           class="form-control"
                           id="exampleInputEmail1"
                           th:placeholder="#{email}"
                           required
                           ng-model="auth.email">
                </div>
                <div class="form-group">
                    <label th:text="#{password}" id="exampleInputPasswordLabel"
                           for="exampleInputPassword1"></label>
                    <input type="password"
                           class="form-control"
                           id="exampleInputPassword1"
                           th:placeholder="#{password}"
                           required
                           ng-model="auth.password">
                </div>
                <div class="form-group">
                    <label th:text="#{confirm.password}" id="exampleInputConfirmPasswordLabel"
                           for="exampleInputConfirmPassword1"></label>
                    <input type="password"
                           class="form-control"
                           id="exampleInputConfirmPassword1"
                           th:placeholder="#{confirm.password}"
                           required
                           ng-model="auth.confirmPassword">
                </div>
                <form action="/register" method="Post">
                    <input type="submit" th:value="#{sign.up}" class="btn btn-default" style="margin-top:20px"
                           ng-disabled="form.$invalid">
                </form>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/reg_form.js"></script>
</body>
</html>